@model u23614286_INF272_Prac08.Models.Triangle

@{
    ViewBag.Title = "Add Triangle";
}

<h2>Add a Triangle</h2>

@using (Html.BeginForm("AddTriangle", "Home", FormMethod.Post))
{
    //begin a form that posts to the addtriangle action in the home controller

    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Triangle</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group row my-2">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>
    <!--form group for fill colour using a dropdown-->
    <div class="form-group row my-2">
        @Html.LabelFor(model => model.Fill, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select name="Fill" class="form-select">
                <option value=""></option>
                <option value="#F1472E">Red</option>
                <option value="#ff8000">Orange</option>
                <option value="#ffff00">Yellow</option>
                <option value="#40ff00">Green</option>
            </select>
            @Html.ValidationMessageFor(model => model.Fill, "", new { @class = "text-danger" })
        </div>
    </div>
    <!--form group for Stroke colour using a dropdown-->
    <div class="form-group row my-2">
        @Html.LabelFor(model => model.StrokeColour, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select name="StrokeColour" class="form-select">
                <option value=""></option>
                <option value="#F1472E">Red</option>
                <option value="#ff8000">Orange</option>
                <option value="#ffff00">Yellow</option>
                <option value="#40ff00">Green</option>
            </select>
            @Html.ValidationMessageFor(model => model.StrokeColour, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row my-2">
        @Html.LabelFor(model => model.StrokeWidth, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StrokeWidth, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StrokeWidth, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row my-2">
        @Html.LabelFor(model => model.X, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.X, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.X, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row my-2">
        @Html.LabelFor(model => model.Y, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Y, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Y, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row my-2">
        @Html.LabelFor(model => model.BaseLength, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BaseLength, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BaseLength, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row my-2">
        @Html.LabelFor(model => model.Height, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Height, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Height, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row my-2">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" style="background-color: whitesmoke; border-color: black; color: black; margin-left: 220px; width: 120px;" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

